Content-type: multipart/alternative;
	boundary=Apple-Standard-Config-Server-MIME-Boundary-1

--Apple-Standard-Config-Server-MIME-Boundary-1
Content-Type: text/html; charset=UTF-8
Content-Transfer-Encoding: quoted-printable

<html>
	<head>
		<title>
			<title>Mail</title>
		</title>
		<style type="text/css">
			@media only screen and (device-width:320px){

				<%# adjust the container div to work within the 320px width of MobileMail %>
				.container{
					width:296px !important;
					padding-right:3px;
				}
				th{
					padding:11px 7px !important;
					text-align:center !important;
				}
				h1, h1 font{
					font-size:18px !important;
				}
				h2, h2 font{
					font-size:14px !important;
					font-weight:bold !important;
				}
				p, p font{
					font-size:11px !important;
					line-height:1.3 !important; <%# [sic] unitless multiplier %>
				}

				<%# square out corners to avoid for sub-pixel rendering errors %>
				<%#
				table, th, td {
					-webkit-border-radius:0 !important;
				}
				%>

				<%# adjust the icon to work within the 320px width of MobileMail %>
				.icon_large{
					display:none;
				}
				.icon_small{
					text-align:center;
					display:block !important;
					margin:0 0 8px;
				}
				.iphone_footer{
					display:block !important;
				}

				<%# rework the table layout so the icon can be centered over the body text %>
				.mobile_hidden{
					display:none !important;
				}

				<%# adjust the spacing to work within the 320px width of MobileMail %>
				img[height="50"], img[height="18"], img[height="16"]{
					height:15px;
				}
				img[width="50"]{
					width:10px;
				}
				img[width="35"]{
					width:10px;
				}
				img[width="300"]{
					width:236px !important;
					display:block;
				}
				td[width="5%"] img, td[width="15%"] img{
					width:30px !important;
				}
				.body_text p:last-child{
					margin-bottom:0 !important;
				}

        <%# adjust the "view wiki" button to be clickable at native iPhone size %>
				a.button {
					border-radius:18px 15px !important;
					-ie-border-radius:18px 15px !important;
					-moz-border-radius:18px 15px !important;
					-webkit-border-radius:18px 15px !important;
					padding:8px 19px !important;
					font-size:13px !important;
				}

				.hr_top {
					border-top-color:#f6f6f6 !important;
				}

			}
		</style>
	</head>
	<body style="text-size-adjust:auto; -webkit-text-size-adjust:auto;">
		<center>
			<div class="container" style="text-size-adjust:auto; -webkit-text-size-adjust:auto; font-family: LucidaGrande, Lucida, helvetica, arial, sans-serif;">
				<font face="LucidaGrande, Lucida, helvetica, arial, sans-serif;">
					<table bgcolor="#e7e7e7" cellspacing="0" cellpadding="0" border="0" width="100%" style="border-spacing:0; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px;">
						<tr>
							<th color="#ffffff" bgcolor="#a5a5a5" style="text-align:left; margin:0; padding:15px 20px; text-shadow:0 1px 2px #666; color: #fff; background: #a5a5a5; background: -webkit-gradient(linear, left top, left bottom, from(#b4b4b4), to(#a5a5a5)); -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border:solid 1px #9c9c9c; border-bottom-color:#9c9c9c;">
								<h1 style="margin:0; padding:0; font-size:18px;">
									<font size="5" style="font-size:18px">
										<%= Emailer.locf("profile_email_subject", @properties[:profile].name, @properties[:hostname]) %>
									</font>
								</h1>
							</th>
						</tr>
						<tr>
							<td bgcolor="#e7e7e7" style="border:solid 1px #dfdfdf; border-top-color:#efefef; border-bottom-color:#d9d9d9;">
								<table bgcolor="#e7e7e7" cellspacing="0" cellpadding="0" border="0" width="100%" style="border-spacing:0; border-collapse:collapse;">
									<td bgcolor="#e7e7e7" width="5%" rowspan="2" style="font-size:1px; line-height:1px;">
										<img src="cid:spacer.png" alt="" border="0" width="50" height="50" >
									</td>
									<td bgcolor="#e7e7e7" width="25%" class="mobile_hidden" style="font-size:1px; line-height:1px;">
										<img src="cid:spacer.png" alt="" border="0" width="1" height="50" >
									</td>
									<td bgcolor="#e7e7e7" width="5%" rowspan="2" class="mobile_hidden" style="font-size:1px; line-height:1px;">
										<img src="cid:spacer.png" alt="" border="0" width="35" height="50" >
									</td>
									<td bgcolor="#e7e7e7" width="50%" style="font-size:1px; line-height:1px;" align="center">
									  <img src="cid:spacer.png" alt="" border="0" width="300" height="50" >	<a name="server" class="icon_small" style="display:none; text-decoration:none !important;"><img src="cid:macosxlogo.png" border="0" width="117" height="90" ></a>
									</td>
									<td bgcolor="#e7e7e7" width="15%" rowspan="2" style="font-size:1px; line-height:1px;">
										<img src="cid:spacer.png" alt="" border="0" width="50" height="50" >
									</td>
								</tr>
								<tr>
									<td bgcolor="#e7e7e7" class="mobile_hidden" align="center" valign="top">
										<a name="server" class="icon_large" style="text-decoration:none !important;"><img src="cid:macosxlogo.png" border="0" width="320" height="246" ></a>
									</td>
										<td bgcolor="#e7e7e7" class="body_text">
											<h2 style="font-size:18px; margin:0; margin-bottom:0.6em; padding:0; font-weight:normal;">
												<font color="#5D5D5D">
													<%= Emailer.locf("profile_email_intro") %>
												</font>
											</h2>
											<p style="font-size: 13px; color: #5D5D5D;">
												<%= Emailer.locf("profile_email_svcs_header") %>
											</p>
											<table cellspacing="0" cellpadding="0" border="0" style="color: #5D5D5D;">
												<ul>
													<%= @properties[:services].each { |svc| "<li>#{svc}</li>" } %>
												</ul>
											</table>
										</td>
									</tr>
									<tr>
										<td bgcolor="#e7e7e7" style="font-size:1px; line-height:1px;">
											<img src="cid:spacer.png" alt="" border="0" width="50" height="50" >
										</td>
										<td bgcolor="#e7e7e7" colspan="2" class="mobile_hidden" style="font-size:1px; line-height:1px;">
											<img src="cid:spacer.png" alt="" border="0" width="50" height="50" >
										</td>
										<td bgcolor="#e7e7e7" colspan="2" style="font-size:1px; line-height:1px;">
											<img src="cid:spacer.png" alt="" border="0" width="50" height="50" >
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<%#
						<tr>
							<td bgcolor="#e7e7e7" style="font-size:1px; line-height:1px; border:solid 1px #dfdfdf; border-width:0 1px;">
								<div class="hr" style="margin:0 5px; border:solid 1px #d9d9d9; border-width:1px 0; border-bottom-color:#fbfbfb;"></div>
							</td>
						</tr>
						%>
						<tr>
							<td bgcolor="#e7e7e7" class="hr_top" style="font-size:1px; line-height:1px; border:solid 1px #dfdfdf; border-width:0 1px; border-top:solid 1px #fbfbfb;"><img src="cid:spacer" alt="" border="0" width="1" height="18" /></td>
						</tr>
						<tr>
							<td bgcolor="#e7e7e7" style="font-size:1px; line-height:1px; border:solid 1px #dfdfdf; border-top:0; -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px;"><img src="cid:spacer" alt="" border="0" width="1" height="16" /></td>
						</tr>
					</table>
				</font>
			</div>
			<div style="width:60%; padding-top:10px">
			<font style="font-size: 10px; color: #AAAAAA;" color="#727272">
				<%= Emailer.locf("email_questions", @properties[:admin_fullname], @properties[:admin_email]) %>
			</font>
			</div>
		</center>
	</body>
</html>

--Apple-Standard-Config-Server-MIME-Boundary-1
Content-Type: text/plain;  charset=UTF-8
Content-Transfer-Encoding: quoted-printable

<%= Emailer.locf("profile_email_intro") %>

<%= Emailer.locf("profile_email_svcs_header") %>

<%= @properties[:services].join("\n") %>

<%= Emailer.locf("email_questions", @properties[:admin_fullname], @properties[:admin_email]) %>

--Apple-Standard-Config-Server-MIME-Boundary-1--
