<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--  -------------------------------------------------------------------------
  Copyright (c) 2016 Apple Inc. All rights reserved.

  IMPORTANT NOTE: This file is licensed only for use on Apple-branded
  computers and is subject to the terms and conditions of the Apple Software
  License Agreement accompanying the package this file is a part of.
  You may not port this file to another platform without Apple's written consent.
  -------------------------------------------------------------------------
 -->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title><%= I18n.t("403_title") %></title>
  <style type="text/css">
    body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; }
    div.dialog {
      width: 25em;
      padding: 0 4em;
      margin: 4em auto 0 auto;
      border: 1px solid #ccc;
      border-right-color: #999;
      border-bottom-color: #999;
    }
    h1 { font-size: 100%; color: #f00; line-height: 1.5em; }
  </style>
</head>

<body>
  <!-- This file lives in views/403.erb -->
  <div class="dialog">
    <h1><%= I18n.t("403_h1") %></h1>
    <p><%= I18n.t("contact_admin") %></p>
  </div>
  <hr/>
  <div id="logout">
    <!-- <% if @user_is_admin %>
      <a href="/profilemanager/">Admin</a>&nbsp;&nbsp;&nbsp;
    <% end %> -->
    <form action="/devicemanagement/webapi/authentication/user_logout" method="post" style="display: inline;"><a href="#"><%= hidden_field_tag 'authenticity_token', form_authenticity_token if protect_against_forgery? %><button><%= I18n.t("logout_button") %></button></a></form><!-- TODO: Make POST-->
  </div>
</body>
</html>
